{
  "extends" : [
    "react-app",
    "standard",
    "standard-react"
  ],
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__SERVER__"    : false,
    "__CLIENT__" : false,
    "__WATCH__" : false
  },
  "rules": {
    "semi" : ["error", "never"],
    "max-len": ["error", 120, 2],
    "jsx-quotes": ["error", "prefer-double"],
    "padded-blocks": "off"
  }
}
