{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__SERVER__"    : false,
    "__CLIENT__" : false,
    "__WATCH__" : false
  },
  "rules": {
    "semi" : ["error", "never"],
    "max-len": ["error", 120, 2],
    "jsx-quotes": ["error", "prefer-double"],
    "react/no-unused-prop-types": "off",
    "padded-blocks": "off",
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
          ["&&", "||"],
          ["in", "instanceof"]
        ],
        "allowSamePrecedence": true
      }
    ]
  }
}
