---
---

@import "{{ site.theme }}";

aside.menu {
  background-color: #2a2a2a;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 64px;
  width: 200px;
}

#header .header-about {
  float: left;
}

#header .header-about .title {
  color: #e8e8e8;
  font-size: 18px;
}

#header nav li.fork {
  float: right;
}

code.highlighter-rouge {
  background-color: #191919;
  border: 1px solid #5a4e1c;
  margin: 0;
  padding: 2px;
}
